<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>

                <li>
                    <a href="@Url.Action("About", "Home")">About</a>
                </li>
                <li>
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>

                <li>
                    <a asp-action="Projects" asp-controller="Home">Projects</a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Home">Index</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Health">FeverCheck</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="GuessNumber">GuessingGame</a>
                </li>

            </ul>
            <img src="~/img/Logo_Ulvas.jpg" alt="Logga">
        </nav>
    </header>
    
    <hr />

    <div>
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>Ola Ulvås &copy; @DateTime.Now</p>
    </footer>
</body>
</html>